@font-face {
    font-family: Assistant;
    src: url(/fonts/static/Assistant-ExtraBold.ttf);
}

body {
    display: flex;
    flex-direction: column;
    margin: 15px 300px 0 300px;
}


@media only screen and (max-width: 600px) {
    body {
        margin: 10px;
    }

    #div_calculadora_imc {
        min-width: 75% !important;
        max-width: none !important;
        padding: 10px !important;
    }

    input {
        min-width: 18% !important;
        max-width: 45% !important;
    }
}


@media only screen and (min-width: 600px) {
    body {
        margin: 10px;
    }

    #div_calculadora_imc {
        min-width: 75%;
        max-width: none;
        padding: 10px;
    }

    input {
        min-width: 18%;
        max-width: 45%;
    }
}

@media only screen and (min-width: 768px) {
    body {
        margin: 10px;
    }

    #div_calculadora_imc {
        min-width: 75%;
    }
}

@media only screen and (min-width: 992px) {
    body {
        margin: 10px;
    }

    #div_calculadora_imc {
        min-width: 75%;
    }
}

@media only screen and (max-width: 1040px) {
    #div_calculadora_imc {
        min-width: 75%;
    }
}

@media only screen and (max-width: 1440px) {
    #div_calculadora_imc {
        min-width: 75%;
    }
}



#div_calculadora_imc {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /*margin: 15px 600px 0 600px;*/
    padding: 0 20px 0 20px;
    align-self: center;
    align-content: space-around;
    justify-items: center;
    max-width: 60%;
    min-width: 60%;
}

#titulo_calculadora {
    font-family: Assistant;
    font-weight: bolder;
    font-size: 18px;
    color: black;
    padding: 13px;
}

label {
    font-family: Assistant;
    color: gray;
    padding: 5px 0 18px 30px;
}

b {
    font-family: Assistant;
    font-weight: bolder;
    padding: 16px 0 0 30px;
}

input {
    margin: 0 10px 15px 30px;
    font-size: 30px;
    border: 5px, solid, white;
    width: 18%;
}

#input_calculadora_resultado {
    width: 75%;
}

button {
    margin: 15px 0 40px 30px;
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#label_calculadora_resultado {
    font-family: Assistant;
    color: black;
    padding: 0 0 15px 15px;
}

#tabla_imc {
    font-family: Assistant;
    font-weight: bolder;
    padding: 16px 0 0 20px;
    justify-content: center;
    align-self: flex-start;
    border: 2px 0 2px 0;
    border-color: gray;
    /*display: flex;*/
}

td,
th {
    font-family: Assistant;
    font-weight: 100;
    color: black;
    padding: 16px 0 16px 0;
    border-top: 1px solid gainsboro;
    padding-right: 5em;
}

th {
    font-family: Assistant;
    font-weight: bolder;
    color: black;
}

h3 {
    font-family: Assistant;
    font-weight: bolder;
    display: inline;
    color: black;
    font-size: 15px;
}

#div_tabla_imc {
    background-color: whitesmoke;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15px;
    padding: 0 20px 0 20px;
    align-self: center;
    align-content: space-around;
    justify-items: center;
    max-width: 60%;
    min-width: 60%;
}
