#ul_primerEjercicio {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#h5_Var_and_Ope_1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

